{% extends "base.html" %}

{% block content %}

    <h2>{{ restaurant.name }}</h2>
    <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit Restaurant Name</a></br>
    <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete Restaurant</a></br>
    <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Add Menu Item</a></br><hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <span class="glyphicon glyphicon-ok"></span>  <strong>{{message}}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if items == None %}
        <p>This restaurant has no menu items yet. Add some!</p>
    {% else %}
        {% for i in items %}
            <strong>{{i.name}}</strong>
            </br>
            {{i.description}}
            </br>
            {{i.id}}
            </br>
            {{i.price}}
            </br>
            <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menuitem_id=i.id)}}">Edit</a>
            </br>
            <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menuitem_id=i.id)}}">Delete</a>
            </br></br>
        {% endfor %}
    {% endif %}

{% endblock %}